/* CSS DIRECTORY:
    ==DESKTOP STYLES==
	        --MAIN--
            --FOOTER--
    ==TABLET STYLES==
    ==MOBILE STYLES==
*/
* {
    box-sizing: border-box;
    margin: 0;
}
/*==================
==DESKTOP STYLES==
=====================*/
html, body {
    width: 1440px;
    /* max-width: 1440px;*/
    max-width: 100vw;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: url(images/bg-intro-desktop.png), hsl(0, 100%, 74%);
   
}
.container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    'main'
    'footer';
    max-width: 1400px;
    width: 100vw;
    width: 100%;
}
main.main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: main;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 7% 0;
    margin-top: 100px;
}
section {
    /* -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%; */
    padding: 1% 1.5%;
    max-width: 580px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    min-height: 250px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;  
    width: 100%;   
    }
h1 {
    font-weight: 800;
    line-height: calc(14px + 3vw);
    font-size: calc(25px + 1.7vw);
    /* padding: 0 40px; */
}
p {
    padding-top: 27px;
}
h2 {
    line-height: calc(18px + 3vw);
    font-size: calc(7px + 0.6vw);
    font-weight: 400;
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgb(216,102,102) 1px 9px 1px 0.5px;
}
h2 span {
    font-weight: 700;
}
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    margin: 25px 0;
    padding: 30px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(216,102,102) 1px 9px 1px 0.5px;
}
input {
    margin: 7px 5px 14px;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    color: hsl(246, 25%, 77%);
    padding: 15px 30px;
    border:  2px solid  hsl(246, 25%, 77%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
}
input:focus {
    border:  2px solid  hsl(249, 10%, 26%);
    color: hsl(249, 10%, 26%);
    outline: none;
}
/* input:required { 
    -webkit-box-shadow: none; 
            box-shadow: none; 
} */
    input:hover {
        border:  2px solid hsl(223, 100%, 88%);
        font-style: italic;
    }
.input-error {
    border: 2px solid hsl(354, 100%, 66%);
    background: url(images/icon-error.svg) no-repeat 95% center;
    color:  hsl(354, 100%, 66%);
}
/* .input-error:focus {
    outline: none;
} */
    /* .error-msg{
        display: none;

    height: auto;
    font-size: calc(10px + 0.5vw);
    font-style: italic;
 */
    /* margin: 1vw; */

    /* text-align: center;
    color:hsl(354, 100%, 66%);
}   */
.error-msg {
    display: none;
    color: #ff7a7a;
    font-size: 14px;
    text-align: right;
  }

/* .email:valid {
    border: 2px solid green;
} 
.email:required {
    border: 1px double greenyellow;
}
.email:invalid {
    border: 1px dashed red;
} */

.btn-submit {
    margin: 7px 5px 14px;
    background-color:hsl(154, 59%, 51%);
    color: white;
    font-size: 16px;
    padding: 16px;
    text-transform: uppercase;
    border: rgb(62, 179, 127)  2px solid;
    border-bottom: 3px  rgb(62, 179, 127) solid;
    -webkit-box-shadow: hsl(240, 75%, 98%) 3px 3px 3px 3.5px;
    box-shadow: hsl(240, 75%, 98%) 3px 3px 3px 3.5px;
    -webkit-box-shadow: hsl(0, 0%, 75%) 1px 1px 5px 0.5px;
    box-shadow: hsl(0, 0%, 75%) 1px 1px 5px 0.5px;
    outline: none;
    cursor: pointer;
}
.btn-submit:hover {
    border:  2px solid hsl(223, 100%, 88%);
    font-style: italic;
}
form p {
    color: hsl(246, 25%, 77%);
    padding: 5px;
    font-size: calc(4px + 0.5vw);
    text-align: center;
}
form p a {
    color:hsl(354, 100%, 66%);
    font-weight: 600;
    text-decoration: none;
}

/*============ Content form ===============*/
/* .content-form {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: form;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .content-form__promotion {
    display: block;
    width: 100%;
    background: #5f54a4;
    margin-bottom: 2em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 0px rgba(40, 40, 40, 0.2);
            box-shadow: 0px 10px 0px rgba(40, 40, 40, 0.2);
  }
  
  .content-form__promotion p {
    padding: 1.5em 3em;
  } */
  
  /* .content-form__container-form {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 0px rgba(40, 40, 40, 0.2);
            box-shadow: 0px 10px 0px rgba(40, 40, 40, 0.2);
  } */
  
  /* .content-form__form {
    display: block;
    padding: 2em;
  } */
  
  /* .content-form__form .input {
    width: calc(100% - 2em);
    border: 1px solid #b8b5d3;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0;
    font-weight: 600;
  } */
  
  /* .content-form__form .input:focus {
    border: 1px solid #5f54a4;
    color: #3d3b48;
    border-radius: 10px;
    outline: none;
  } */
  
  /* .content-form__form .input--error {
    /* color: #ff7a7a; */
    /* border: 2px solid #ff7a7a;
    background-image: url(images/icon-error.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 95% center !important;
    background-size: unset !important;
  }
  
  .content-form__form .input--error:focus {
    border: 2px solid #ff7a7a;
    border-radius: 10px;
    outline: none;
  } */ 
  
  /* .content-form__form .btn-submit {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background: #38cb8b;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0 0 0;
    color: #fff;
    -webkit-box-shadow: 0px 5px 0px #2ea973;
            box-shadow: 0px 5px 0px #2ea973;
  }
  
  .content-form__form .btn-submit:hover {
    -webkit-box-shadow: 0px 0px 0px #2ea973;
            box-shadow: 0px 0px 0px #2ea973;
  } */
  
  /* .terms {
    color: #b8b5d3;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .error-message {
    display: none;
    color: #ff7a7a;
    font-size: 14px;
    text-align: right;
  } */
  


/*------------------------------
----------FOOTER--------------*/
footer {
-ms-grid-row: 2;
-ms-grid-column: 1;
grid-area: footer;
width: 100%;
min-width: 100vw;
max-width: 100%; /*IE*/
}
footer a {
color: hsl(240, 75%, 98%);
text-decoration: none;
font-style: normal;
padding: 0px;
display: inline-block;
}
.attribution {
font-size: calc(4px + 0.5vw);
text-align: center;
}
.attribution a:hover {
transform: none;
-webkit-transform: none;
-moz-transform: none;
-ms-transform: none;
-o-transform: none;
padding-bottom: 5px;
border-bottom:  2px solid rgb(45, 204, 112);
}
.attribution a:visited {
color: hsl(223, 87%, 63%);
}

/*==================
==TABLET STYLES==
=====================*/
@media screen and (max-width: 991px) {
    html, body {
        max-width: 100vw;
        margin: 0 auto;
    }
    main.main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-width: 100vw;
        margin-top: 105px;
    }
    section {
        width: 100%;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        text-align: center;
    }
    }
/*==================
==MOBILE STYLES==
=====================*/
@media screen and (max-width: 699px) {
    html, body {
        max-width: 100vw;
        /* min-width: 375px; */
        min-width: 100%;
        margin: 0 auto;
    }
    main.main {
        margin-top: 75px;
    }
    section {
        padding: 5% 1.5%;
    }
    h1 {
        line-height: calc(14px + 5vw);
        font-size: calc(22px + 1.7vw);
}
    .content p {
        padding: 27px;
        line-height: calc(14px + 3vw);
    }
    h2 {
        width: 90%;
        margin: 0 auto;
        padding: 20px 70px;
        line-height: calc(17px + 3vw);
        font-size: calc(11px + 1vw);
    }
    form {
        width: 90%;
        margin: 20px auto;
        padding: 12px;
    }
    input {
        font-size: 14px;
        font-weight: 800;
        padding: 14px 17px;
    }
    form p {
        padding: 5px 30px;
        font-size: calc(7px + 1vw);
    }
    .attribution {
        font-size: calc(7px + 1vw);
    }
}

